@model WorkFlowManager.Models.Vehicle
@*<h2 class="vehicle-name">@Model.Name</h2>
    <h2>VIN: @Model.VIN</h2>
    <h2>Make: @Model.Make</h2>
    <h2>Author: @Model.Year</h2>
    <h2>Model: @Model.Model</h2>
    <h2>Type: @Model.Type</h2>
    <h2>License: @Model.License</h2>*@
<div class="vehicle-table">   
    <label>@Model.VIN</label>
    <label >@Model.Name</label>
    <label >@Model.Make</label>
    <label >@Model.Model</label>
    <label >@Model.Year</label>
    <label >@Model.Type</label>
    <label >@Model.License</label>
</div>