@model WorkFlowManager.Models.Vehicle

<div class="vehicle">
    <h2 class="vehicle-name">@Model.Name</h2>
    <h2>VIN: @Model.VIN</h2>
    <h2>Make: @Model.Make</h2>
    <h2>Author: @Model.Year</h2>
    <h2>Model: @Model.Model</h2>
    <h2>Type: @Model.Type</h2> 
    <h2>License: @Model.License</h2>
</div>