@model WorkFlowManager.Models.Part

@{
    Layout = "_Layout";
    ViewBag.Title = "Create Part";
}
<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    <div class="form-horizontal">

        <div class="form-group">
            @Html.LabelFor(x => x.Serial)
            @Html.EditorFor(x => x.Serial)
            @Html.ValidationMessageFor(x => x.Serial)
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.Name)
            @Html.EditorFor(x => x.Name)
            @Html.ValidationMessageFor(x => x.Name)
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.Brand)
            @Html.EditorFor(x => x.Brand)
            @Html.ValidationMessageFor(x => x.Brand)
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.Model)
            @Html.EditorFor(x => x.Model)
            @Html.ValidationMessageFor(x => x.Model)
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.Type)
            @Html.EditorFor(x => x.Type)
            @Html.ValidationMessageFor(x => x.Type)
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Supplier)
            @Html.EditorFor(x => x.Supplier)
            @Html.ValidationMessageFor(x => x.Supplier)
        </div>

        <button class="btn btn-default" type="submit">Add Part to Inventory</button>
    </div>
}
