@model IEnumerable<BusinessFlow.Models.Equipment>

@{
    Layout = "_Layout";
    ViewBag.Title = "Equipment";
}

<h1>Equipment Overview</h1>

<a asp-controller="Equipment" asp-action="Create" class="btn btn-success">New Equipment</a>
<br />
<table class="table table-striped">
    <thead>
        <tr>           
            <th>
                Name
            </th>
            <th>
                Make
            </th>
            <th>
                Model
            </th>
            <th>
                Year
            </th>
            <th>
                Type
            </th>           
        </tr>
    </thead>
    <tbody>
        @foreach (var part in Model)
        {
            <tr>              
                <td>
                    @Html.DisplayFor(modelItem => part.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => part.Make)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => part.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => part.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => part.Type)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { Id = part.Id }) |
                    @Html.ActionLink("Details", "Details", new { Id = part.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { Id = part.Id })
                </td>
            </tr>
        }
    </tbody>
</table>