@model WorkFlowManager.Models.Vehicle

@{
    Layout = "_Layout";
    ViewBag.Title = "Create Vehicle";
}
<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(x => x.VIN)
            @Html.EditorFor(x => x.VIN)
            @Html.ValidationMessageFor(x => x.VIN)
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.Name)
            @Html.EditorFor(x => x.Name)
            @Html.ValidationMessageFor(x => x.Name)
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.Year)
            @Html.EditorFor(x => x.Year)
            @Html.ValidationMessageFor(x => x.Year)
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.Make)
            @Html.EditorFor(x => x.Make)
            @Html.ValidationMessageFor(x => x.Make)
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.Model)
            @Html.EditorFor(x => x.Model)
            @Html.ValidationMessageFor(x => x.Model)
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.Type)
            @Html.EditorFor(x => x.Type)
            @Html.ValidationMessageFor(x => x.Type)
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.License)
            @Html.EditorFor(x => x.License)
            @Html.ValidationMessageFor(x => x.License)
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Registration)
            @Html.EditorFor(x => x.Registration)
            @Html.ValidationMessageFor(x => x.Registration)
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Engine)
            @Html.EditorFor(x => x.Engine)
            @Html.ValidationMessageFor(x => x.Engine)
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Transmission)
            @Html.EditorFor(x => x.Transmission)
            @Html.ValidationMessageFor(x => x.Transmission)

        </div>
        <button class="btn btn-default" type="submit">Register Vehicle</button>
    </div>
}
