@model IEnumerable<WorkFlowManager.Models.Bid>

@{
    ViewData["Title"] = "Inventory Management";
}

<h1>Inventory Management</h1>

<a asp-controller="Bid" asp-action="Create" class="btn btn-success">New Bid</a>
<br />
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                ECMS
            </th>
            <th>
                County
            </th>
            <th>
                Location
            </th>
            <th>
                Bid / Let Date
            </th>
            <th>
                Quote Date
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var bid in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => bid.ECMS)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => bid.County)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => bid.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => bid.BidLetDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => bid.BidLetDate)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { Id = bid.Id }) |
                    @Html.ActionLink("Details", "Details", new { Id = bid.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { Id = bid.Id })
                </td>
            </tr>           
        }
    </tbody>
</table>